@keyframes landing-text-fade {
    from {
        color: transparent;
    }

    33% {
        color: white;
    }

    66% {
        color: white;
    }

    to {
        color: transparent;
    }
}

.landingUnderlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    color: transparent;
    background-color: #000000;
    font-size: 20px;

    animation: landing-text-fade 4000ms 500ms forwards;
}

@keyframes landing-fade {
    from {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.landingFade {
    opacity: 0;

    animation: landing-fade 5000ms 500ms forwards;
}

.homePage {
    margin-top: 64px;
    padding: 8px 32px;
}
