@keyframes landing-underlay-fade {
	from {
		color: transparent;
	}

	33% {
		color: var(--color-text);
	}

	66% {
		color: var(--color-text);
		opacity: 1;
		text-shadow:
			0 0 8px,
			0 0 32px,
			0 0 64px,
			0 0 128px;
	}

	to {
		display: none;

		color: transparent;
		opacity: 0;
		text-shadow: none;
	}
}

.landingUnderlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	color: transparent;
	background-color: #000000;
	font-size: 20px;

	animation: landing-underlay-fade 4000ms 500ms forwards;
}

body:global(.light-mode) .landingUnderlay {
	background-color: white;
}

@keyframes landing-fade {
	from {
		opacity: 0;
	}

	80% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.landingFade {
	opacity: 0;

	animation: landing-fade 5000ms both;
}

.contentImageContainer {
	position: relative;

	overflow: hidden;

	display: block;
	width: 100vw;
	height: fit-content;
	max-width: 2560px;
	max-height: 960px;

	margin: calc(-1 * var(--main-padding)) auto 128px auto;

	transform: translateX(calc(-1 * var(--main-padding)));
}

.contentImageContainer::after {
	content: "";

	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	background: linear-gradient(90deg, black 0%, transparent 50%, transparent 100%);

	/* mix-blend-mode: lighten; */
}

.contentImage {
	position: relative;
	bottom: 0;

	width: 100%;
}

.contentImageText {
	position: absolute;
	left: 128px;
	top: 50%;
	z-index: 1;

	color: white;

	transform: translateY(-50%);
}

.contentImageText > h2 {
	margin-bottom: 8px;

	font-size: 3rem;
	font-weight: normal;
}

.contentImageText > h3 {
	margin-bottom: 8px;

	font-size: 2rem;
	font-weight: normal;
}

.homeContent h2 {
	font-weight: normal;
	font-size: 3rem;
}

.infoContainer {
	margin-bottom: 128px;
}

.infoContainer > p {
	max-width: 512px;

	font-size: 1.2rem;
}

.infoContainer > img {
	display: block;

	width: 512px;
	margin: 16px 0;
}

.statsContainer {
	display: flex;
	gap: 64px;

	width: fit-content;
	margin: 0 auto;

	justify-content: space-between;
}

.statsHeader {
	text-align: center;

	width: fit-content;

	padding-bottom: 16px;
	margin: auto;
	margin-top: 128px;
	margin-bottom: 16px;

	font-size: 3em;
	font-weight: normal;

	border-bottom: 2px solid;
}

.stat > * {
	width: 100%;
	text-align: center;
}

.stat h3 {
	font-size: 2.5rem;
	font-weight: bold;
}
