@keyframes landing-underlay-fade {
	from {
		color: transparent;
	}

	33% {
		color: var(--color-text);
	}

	66% {
		color: var(--color-text);
		opacity: 1;
		text-shadow:
			0 0 8px,
			0 0 32px,
			0 0 64px,
			0 0 128px;
	}

	to {
		display: none;

		color: transparent;
		opacity: 0;
		text-shadow: none;
	}
}

.landingUnderlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	color: transparent;
	background-color: #000000;
	font-size: 20px;

	animation: landing-underlay-fade 4000ms 500ms forwards;
}

body:global(.light-mode) .landingUnderlay {
	background-color: var(--background-color);
}

@keyframes landing-fade {
	from {
		opacity: 0;
	}

	80% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.landingFade {
	opacity: 0;

	animation: landing-fade 5000ms both;
}

.homePage {
	padding: var(--main-padding);
}

.contentImageContainer {
	position: relative;

	overflow: hidden;

	width: 100vw;
	height: 448px;

	margin-left: -32px;
	margin-top: -32px;
	margin-bottom: 32px;
}

.contentImageContainer::after {
	content: "";

	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	background: linear-gradient(90deg, black 0%, black 5%, transparent 30%, transparent 100%);
}

.contentImage {
	width: 100%;

	transform: translateY(-128px);
}

.contentImageText {
	position: absolute;
	left: 128px;
	top: 50%;
	z-index: 1;

	color: white;

	transform: translateY(-50%);
}

.contentImageText > h1 {
	margin-bottom: 8px;
}
