.errorPage {
	padding: var(--main-padding);
}

.errorPage > h1 {
	margin-bottom: 16px;
}

.errorPage > p {
	margin: 8px 0;
}

.errorDecoration {
	position: absolute;
	left: -128px;
	top: -64px;
	z-index: -1;

	width: 384px;
	height: 384px;
	aspect-ratio: 1;

	background-color: red;
	border-radius: 50%;

	filter: blur(96px);
}
