.errorPage {
	height: calc(100dvh - var(--header-height));

	background-image: linear-gradient(135deg, red, var(--color-background) 256px);
}

.errorInformation {
	margin-bottom: 24px;
}

.errorPage h1 {
	margin-bottom: 16px;
	font-weight: bold;
}

.errorPage > p {
	margin: 8px 0;
}

.backButton {
	display: block;

	width: fit-content;
	padding: 16px 32px;

	border-radius: 2px;
	background-color: #80808040;
}
