.productPage {
	width: var(--main-container-width);
	margin: 0 auto;
	padding: 32px;
}

.viewProductsButton {
	margin-bottom: 16px;

	opacity: 0.8;
	white-space: nowrap;
}

.viewProductsButton:hover {
	opacity: 1;
}

.viewProductsButton > * {
	vertical-align: top;

	height: var(--main-icon-size);
}

.viewProductsButton > *:first-child {
	width: var(--main-icon-size);
	margin-right: 8px;
}

.viewProductsButton > *:last-child {
	line-height: var(--main-icon-size);
	font-size: 14px;
}

.product {
	--column-width: 512px;

	display: grid;
	grid-template-columns: var(--column-width) var(--column-width);
	gap: var(--standard-container-padding);

	margin-bottom: 32px;
}

.product h1 {
	margin-bottom: 16px;
}

.product h2 {
	margin-bottom: 8px;
}

.productImage {
	width: var(--column-width);
	max-width: 100%;
	aspect-ratio: 1;

	background-color: var(--color-input-background);
}

.productImageMagnifier {
	position: absolute;
	left: 0;

	display: none;
	overflow: hidden;

	width: 256px;
	height: 256px;
	border-radius: 50%;

	backdrop-filter: blur(1px);
}

.productImageMagnifier[data-shown] {
	display: block;
}

.productImageMagnifier > img {
	position: relative;

	background-color: var(--color-input-background);
}

.productInfo {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

.productFeatures {
	flex-grow: 1;
}

.addToCartButton {
	text-align: center;

	width: 100%;
	height: 64px;

	background-color: #80808020;
}

.addToCartButton:disabled {
	filter: invert(50%);
}

.addToCartButton:not(:disabled):hover {
	background-color: #80808040;
}

@media (max-width: 1079px) {
	.product {
		display: block;

		max-width: 512px;
	}
}
