.productPage {
	width: var(--main-container-width);
	margin: 0 auto;
	padding: 32px;
}

.productPage h1 {
	margin-bottom: 16px;
}

.productImage {
	width: 512px;
	max-width: 100%;
	aspect-ratio: 1;

	background-color: var(--color-input-background);
}
