.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
	max-width: 1080px;
	height: 100vh;
	margin: auto;
	margin-top: 32px;
}

.productSearchBar {
	width: 100%;
	max-width: 1080px;

	margin-top: 32px;
}

.productSearchContainer {
	display: inline;

	height: 32px;
}

/* .productSearchInput {
} */

.toggleFilterOptionsShownButton {
	height: 24px;
	width: 24px;
	aspect-ratio: 1;
}

.filters {
	position: relative;

	display: inline;
}

.filterSelectionContainer {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;

	width: 256px;
	padding: 8px;

	background-color: blue;
	font-size: 14px;
}

.filterSelectionContainer h3:not(:nth-child(1)) {
	margin-top: 16px;
}

.productList {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	gap: 16px;

	width: 100%;
}

.product {
	--product-width: 256px;

	position: relative;

	overflow: hidden;

	width: var(--product-width);
	height: auto;
	border-radius: 8px;

	opacity: 0.8;

	transition: scale 150ms linear;
}

.product:hover {
	opacity: 1;
	cursor: pointer;
}

.productImage {
	width: var(--product-width);
	height: var(--product-width);

	border: none;
	outline: none;
}

.productPrice {
	position: absolute;
	top: calc(var(--product-width) - 20px);
	right: 8px;

	font-weight: bold;
}

.productDetails {
	height: fit-content;
	padding: 8px;

	background-color: var(--color-header-border);
}

.productName {
	margin-bottom: 4px;

	font-size: 16px;
}

.productFeatures {
	padding-left: 8px;

	font-size: 10px;
	list-style-type: "- ";
}
