.products {
	--product-container-width: 1080px;

	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	max-width: var(--product-container-width);
	height: 100vh;
	margin: auto;
	margin-top: 32px;
}

.products h1 {
	margin-bottom: 32px;
}

.searchBar {
	--search-bar-height: 48px;
	--icon-size: 20px;
	--icon-padding: 12px;

	position: relative;

	height: var(--search-bar-height);
	width: 100%;
	margin-bottom: 32px;
}

.searchInput {
	border: none;
	padding-left: 8px;

	width: 100%;
	height: 100%;
	padding-left: calc(var(--icon-padding) * 2 + var(--icon-size));

	background-color: var(--color-input-background);
	border-radius: 2px;
}

.searchBarSearchButton {
	left: var(--icon-padding);
}

.searchInputClearButton {
	right: var(--icon-padding);
}

.searchBar button {
	position: absolute;
	top: calc((var(--search-bar-height) - var(--icon-size)) / 2);

	width: var(--icon-size);
	height: var(--icon-size);

	opacity: 0.5;
}

.searchBar button:hover {
	opacity: 1;
}

.toggleFilterOptionsShownButton {
	width: 24px;
	height: 24px;
}

.filters {
	position: relative;

	height: 100%;

	background-color: var(--color-input-background);
	color: white;

	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.filterSelectionContainer {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;

	width: 256px;
	padding: 8px;

	background-color: blue;
	font-size: 14px;
}

.filterSelectionContainer h3:not(:nth-child(1)) {
	margin-top: 16px;
}

.productList {
	--product-gap: 16px;
	--products-per-line: 5;

	--product-width: calc(
		(var(--product-container-width) - (var(--product-gap) * (var(--products-per-line) - 1))) /
			(var(--products-per-line))
	);

	display: flex;
	align-items: start;
	flex-wrap: wrap;
	gap: var(--product-gap);

	width: 100%;
}

.product {
	position: relative;

	overflow: hidden;

	width: var(--product-width);
	height: auto;
	border-radius: 2px;

	opacity: 0.8;

	transition: scale 150ms linear;
}

.product:hover {
	opacity: 1;
	cursor: pointer;
}

.productImage {
	width: var(--product-width);
	height: var(--product-width);

	border: none;
	outline: none;
}

.productPrice {
	position: absolute;
	top: calc(var(--product-width) - 20px);
	right: 8px;

	font-weight: bold;
}

.productDetails {
	height: fit-content;
	padding: 8px;

	background-color: var(--color-header-border);
}

.productName {
	margin-bottom: 4px;

	font-size: 16px;
}

.productFeatures {
	padding-left: 8px;

	font-size: 10px;
	list-style-type: "- ";
}

.productListEmptyText {
	padding-top: calc(var(--product-width) / 2);
	width: 100%;
	text-align: center;
}
