.products {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;
}

.productList {
	display: flex;
	justify-content: center;
	align-items: start;
	gap: 16px;

	width: 100%;
}

.product {
	--product-width: 256px;

	position: relative;

	overflow: hidden;

	width: var(--product-width);
	height: auto;
	border-radius: 8px;

	opacity: 0.8;

	transition: scale 150ms linear;
}

.product:hover {
	opacity: 1;
	cursor: pointer;
}

.productImage {
	width: var(--product-width);
	height: var(--product-width);

	border: none;
	outline: none;
}

.productPrice {
	position: absolute;
	top: calc(var(--product-width) - 20px);
	right: 8px;

	font-weight: bold;
}

.productPriceDollarSign {
	font-size: 10px;

	font-weight: normal;
}

.productDetails {
	height: fit-content;
	padding: 8px;

	background-color: var(--color-header-border);
}

.productName {
	margin-bottom: 4px;

	font-size: 16px;
}

.productFeatures {
	padding-left: 8px;

	font-size: 10px;
	list-style-type: "- ";
}
