.storePage h1 {
	margin-bottom: 32px;
}

.searchBar {
	--search-bar-height: 48px;
	--icon-size: 20px;
	--icon-padding: 12px;

	position: relative;

	height: var(--search-bar-height);
	width: 100%;
	margin-bottom: 32px;
}

.searchInput {
	border: none;
	padding-left: 8px;

	width: 100%;
	height: 100%;
	padding-left: calc(var(--icon-padding) * 2 + var(--icon-size));

	background-color: var(--color-input-background);
	border-radius: 2px;
}

.searchBarSearchButton {
	left: var(--icon-padding);
}

.searchInputClearButton {
	right: var(--icon-padding);
}

.searchBar button {
	position: absolute;
	top: calc((var(--search-bar-height) - var(--icon-size)) / 2);

	width: var(--icon-size);
	height: var(--icon-size);

	opacity: 0.5;
}

.searchBar button:hover {
	opacity: 1;
}

.productList {
	--product-gap: 16px;
	--products-per-line: 5;

	display: grid;
	gap: var(--product-gap);
	grid-template-columns: repeat(
		auto-fit,
		minmax(
			calc(
				(var(--main-container-width) - (var(--product-gap) * (var(--products-per-line) - 1))) /
					var(--products-per-line)
			),
			1fr
		)
	);

	width: 100%;
}

.product {
	position: relative;

	border-radius: 2px;

	opacity: 0.8;

	background-color: var(--color-input-background);
}

.product:hover {
	opacity: 1;
	cursor: pointer;
}

.productImage {
	width: 100%;
	aspect-ratio: 1;

	border: none;
	outline: none;
}

.productDetails {
	position: relative;

	height: fit-content;
	padding: 8px;
}

.productName {
	overflow: hidden;

	width: 100%;
	max-width: 100%;
	margin-bottom: 4px;

	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.productPrice {
	font-size: 18px;
	font-weight: bold;
}

.productPrice::before {
	font-weight: bold !important;
}

.productListEmptyText {
	padding-top: calc(var(--product-width) / 2);
	width: 100%;
	text-align: center;
}

@media (max-width: 511px) {
	.productList {
		--main-container-width: 100%;
		--products-per-line: 2;
	}
}
