.header,
.headerSpacer {
	--header-height: 64px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	display: grid;
	grid-template-columns: 30% 40% 30%;

	width: 100vw;
	height: var(--header-height);

	background-color: var(--color-background);
	border-bottom: 1px solid var(--color-header-border);
}

.header > * {
	align-self: center;
	white-space: nowrap;
}

@keyframes background-slide {
	from {
		background-position: 0;
	}

	to {
		background-position: var(--logo-background-size);
	}
}

.headerLogo {
	display: flex;
	align-items: center;

	height: 100%;
	padding-left: 32px;
}

body:global(.light-mode) .headerLogo {
	clip-path: polygon(0 0, 224px 0, 256px 100%, 0% 100%);
	background-color: black;
}

.headerLogoText {
	--logo-gradient: linear-gradient(
		90deg,
		#ff0000 0%,
		#ffff00 17%,
		#00ff00 33%,
		#00ffff 50%,
		#0000ff 67%,
		#ff00ff 83%,
		#ff0000 100%
	);
	--logo-background-size: 1600% 100%;
	--logo-animation: background-slide 64s linear infinite;

	content: attr(data-text);

	position: relative;

	color: white;
	font-family: "Moul", cursive;
	font-size: 24px;
	background-size: var(--logo-background-size);
	background-image: var(--logo-gradient);
	-webkit-background-clip: text;

	animation: var(--logo-animation);
	transition: color 150ms linear;
}

.headerLogoText::before {
	content: attr(data-text);

	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

	background-size: var(--logo-background-size);
	background-image: var(--logo-gradient);
	-webkit-background-clip: text;

	filter: blur(12px);

	animation: var(--logo-animation);
	transition:
		color 150ms linear,
		filter 150ms linear;
}

.headerLogoText:hover {
	color: transparent;
}

.headerLogoText:hover::before {
	color: transparent;
}

.headerNavigation {
	width: 100%;
	height: 100%;
}

.headerNavigation ul {
	display: flex;
	justify-content: center;

	width: 100%;
	height: 100%;

	list-style: none;
}

.headerNavigation li {
	width: fit-content;
	height: 100%;
}

.headerNavigation a {
	display: flex;
	justify-content: center;
	align-items: center;

	width: calc(100% - 64px);
	height: 100%;
	padding: 0 32px;
}

.headerNavigation a > * {
	width: 100%;
	height: 100%;

	text-align: center;
}

.headerNavigation a:hover {
	padding-top: 2px;
}

.headerDarkModeToggle {
	--toggle-button-size: 24px;

	justify-self: right;

	width: var(--toggle-button-size);
	height: var(--toggle-button-size);
	margin-right: 16px;

	box-sizing: content-box;

	font-size: 14px;
}

.headerDarkModeToggle:hover {
	filter: invert(50%);
}

.headerSpacer {
	width: 100%;
	height: var(--header-height);
}
