.footer {
	width: 100vw;
	margin: 64px auto 0 auto;
	padding: 64px var(--standard-container-padding) 32px var(--standard-container-padding);

	background-color: var(--color-input-background);

	font-size: 14px;
}

.footerContent {
	width: 100%;
	max-width: var(--main-container-width);
	padding: 0 64px;

	margin: 0 auto;
}

.footerSections {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));

	margin-bottom: 64px;
}

.footerSection {
	display: block;
	justify-self: center;

	height: 100%;
}

.footerSection h3 {
	margin-bottom: 16px;

	height: 16px;

	font-size: 16px;
	font-weight: bold;

	vertical-align: top;
}

.footerSectionButton {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 8px;

	width: 100%;
	height: 32px;
	margin-bottom: 8px;

	font-size: 16px;
	font-weight: bold;
}

.footerSectionCollapseIcon {
	width: 20px;
	height: 20px;
}

.footerSection ul {
	list-style: none;
	padding: 0;
}

.footerSection ul li {
	margin-bottom: 8px;
	margin-left: -8px;
}

.footerSection a {
	padding: 8px;
	border-radius: 2px;
}

.footerSection a:hover {
	filter: invert(50%);
}

.copyright {
	width: fit-content;
	margin: 0 auto;

	font-size: 12px;
	font-weight: bold;
	color: transparent;
	background-image: linear-gradient(20deg, #bc21ff, #ffa499 70%);
	background-clip: text;
	-webkit-background-clip: text;
}

body:global(.light-mode) .copyright {
	color: currentColor;
	background-image: none;
	background-clip: none;
	-webkit-background-clip: none;
}

@media (max-width: 959px) {
	.footerSections {
		display: block;
	}

	.footerSection {
		overflow: hidden;
		text-align: center;

		margin: 0 auto;

		height: 32px;

		transition:
			height 150ms linear,
			margin 150ms linear;
	}

	.footerSection a {
		display: none;
	}

	.footerSection[data-expanded] {
		margin-bottom: 24px;
		height: 100%;
	}

	.footerSection[data-expanded] a {
		display: block;
	}

	.footerSectionHeader {
		display: none;
	}

	.footerSectionButton {
		display: flex;
	}
}
