.skipToMainContentButton {
	position: fixed;
	top: -100%;
	left: 0;
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;

	width: fit-content;
	height: 64px;
	padding: 0 32px;

	background-color: var(--color-background-highlight-1);
	opacity: 0;
}

.skipToMainContentButton:focus-within {
	top: 0;

	outline-offset: -1px;
	opacity: 1;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	display: grid;
	grid-template-columns: 30% 40% 30%;

	width: 100vw;
	height: var(--header-height);

	background-color: var(--color-background);
	border-bottom: 1px solid var(--color-background-highlight-1);
}

.header > * {
	align-self: center;
	white-space: nowrap;
}

@keyframes background-slide {
	from {
		background-position: 0;
	}

	to {
		background-position: var(--logo-background-size);
	}
}

.headerLogo {
	display: flex;
	align-items: center;

	height: 100%;
	padding-left: var(--standard-container-padding);
}

body:global(.light-mode) .headerLogo {
	clip-path: polygon(0 0, 224px 0, 256px 100%, 0% 100%);
	background-color: black;
}

.headerLogoText {
	--logo-gradient: linear-gradient(
		90deg,
		#ff0000 0%,
		#ffff00 17%,
		#00ff00 33%,
		#00ffff 50%,
		#0000ff 67%,
		#ff00ff 83%,
		#ff0000 100%
	);
	--logo-background-size: 1600% 100%;
	--logo-animation: background-slide 64s linear infinite;
	--logo-padding: 4px 10px;

	content: attr(data-text);

	position: relative;

	padding: var(--logo-padding);

	border-radius: 2px;
	color: white;
	font-family: "Moul", cursive;
	font-size: 24px;
	background-size: var(--logo-background-size);
	background-image: var(--logo-gradient);
	-webkit-background-clip: text;

	animation: var(--logo-animation);
	transition: color 150ms linear;
}

.headerLogoText::before {
	content: attr(data-text);

	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

	padding: var(--logo-padding);

	background-size: var(--logo-background-size);
	background-image: var(--logo-gradient);
	-webkit-background-clip: text;

	filter: blur(12px);
	-webkit-filter: blur(12px);

	animation: var(--logo-animation);
	transition:
		color 150ms linear,
		filter 150ms linear;
}

.headerLogoText:hover,
.headerLogoText:focus-visible,
.headerLogoText:hover::before,
.headerLogoText:focus-visible::before {
	color: transparent;
	outline-color: white;
}

.headerNavigation {
	width: 100%;
	height: 100%;
}

.headerNavigation ul {
	display: flex;
	justify-content: center;

	width: 100%;
	height: 100%;

	list-style: none;
}

.headerNavigation li {
	width: fit-content;
	height: 100%;
}

.headerNavigation a {
	display: flex;
	justify-content: center;
	align-items: center;

	width: calc(100% - 64px);
	height: 100%;
	padding: 0 var(--standard-container-padding);
}

.headerNavigation a > * {
	width: 100%;
	height: 100%;

	text-align: center;
}

.headerNavigation a:hover,
.headerNavigation a:focus-visible {
	padding-top: 2px;
}

.headerButtons {
	display: flex;
	justify-self: right;
	gap: 8px;

	margin-right: calc(var(--standard-container-padding) - var(--main-icon-padding));
}

.shoppingCartHeader {
	margin-bottom: 8px;
	font-size: 16px;
}

.shoppingCartContainer {
	position: relative;
}

.shoppingCartButton {
	position: relative;
}

.shoppingCartButton[data-quantity]::after {
	content: attr(data-quantity);

	position: absolute;
	top: 0;
	right: 0;

	text-align: center;

	width: 20px;
	height: 20px;
	line-height: 20px;

	font-size: 12px;
	font-weight: bold;
	border-radius: 50%;
	color: white;
	background-color: red;
	opacity: 0.8;
}

.shoppingCart {
	position: absolute;
	top: calc(
		var(--header-height) - ((var(--header-height) - var(--main-icon-size) - (var(--main-icon-padding) * 2)) / 2)
	);
	right: 8px;

	display: none;
	width: 320px;

	padding: 8px;

	border-top: none;
	border-radius: 2px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #202020d0;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	font-size: 14px;
}

body:global(.light-mode) .shoppingCart {
	background-color: #d0d0d0d0;
}

.shoppingCart[open] {
	display: block;
}

.shoppingCartProducts {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 320px;
	margin-bottom: 8px;
}

.shoppingCartProduct {
	--product-height: 64px;

	display: flex;
	align-items: center;
	gap: 8px;

	max-width: 100vw;
	height: var(--product-height);
	margin-bottom: 8px;
}

.shoppingCartProduct a {
	display: inherit;
}

.shoppingCartProduct:last-child {
	margin-bottom: 0;
}

.shoppingCartProductImage {
	width: var(--product-height);
	height: var(--product-height);

	background-color: var(--color-background);
}

.shoppingCartProductInfo {
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	height: 100%;
}

.shoppingCartProductInfoBottom {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
}

.shoppingCartProductQuantity {
	display: flex;
	align-items: center;
}

.shoppingCartProductQuantity button {
	padding: 0;
}

.shoppingCartSubtotal {
	width: 100%;
	margin-top: -4px;
	padding: 0 0 4px 0;
}

.shoppingCartSubtotal strong {
	font-size: 16px;
}

.shoppingCartCheckoutButton {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	width: 100%;
	height: 48px;

	background-color: #80808040;
	border-radius: 2px;
}

.shoppingCartCheckoutButton:hover,
.shoppingCartCheckoutButton:focus-visible {
	background-color: #80808060;
}

.shoppingCartEmptyMessage {
	text-align: center;

	padding: 32px;
	line-height: 24px;
}

.headerSpacer {
	width: 100%;
	height: var(--header-height);
}

.hamburgerButton {
	display: none;
}

.hamburgerMenu {
	pointer-events: none;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;

	width: 256px;
	height: 100dvh;

	background-color: var(--color-hamburger-menu-background);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	opacity: 0;

	transform: translateX(-100%);

	transition:
		transform 150ms ease-in-out,
		opacity 0ms 150ms ease-in-out;
}

.hamburgerMenu[data-displayed="true"] {
	pointer-events: all;

	opacity: 1;

	transform: translateX(0px);

	transition: transform 150ms ease-in-out;
}

.hamburgerHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: var(--header-height);
	padding: calc(var(--standard-container-padding) - var(--main-icon-padding));
}

.hamburgerDarkModeToggle {
	display: none;
}

.hamburgerMenuNavigation {
	padding: 16px var(--standard-container-padding);
}

.hamburgerMenuNavigation ul {
	padding: 0;

	list-style: none;
}

.hamburgerMenuNavigation li {
	width: 256px;
	margin-bottom: 32px;
}

.hamburgerNavigationLink {
	position: relative;
	padding: 16px;
	margin-left: -16px;
}

.activeRouteIndicator {
	position: absolute;
	left: -8px;
	top: 50%;

	display: block;
	width: 16px;
	height: 16px;

	opacity: 0;
	stroke-width: 2px;

	transform: translateY(-50%);

	transition: opacity 150ms linear;
}

.hamburgerNavigationLink:hover .activeRouteIndicator {
	opacity: 1;
}

@media (max-width: 895px) {
	.hamburgerButton {
		display: block;

		margin-left: calc(var(--standard-container-padding) - var(--main-icon-padding));
	}

	.headerLogo {
		justify-self: center;

		padding: 0 32px;
	}

	body:global(.light-mode) .headerLogo {
		clip-path: polygon(32px 0, calc(100% - 32px) 0, 100% 50%, calc(100% - 32px) 100%, 32px 100%, 0 50%);
	}

	.headerNavigation {
		display: none;
	}
}

@media (max-width: 511px) {
	.headerButtons {
		gap: 0;
	}

	.darkModeToggle {
		display: none;
	}

	.hamburgerDarkModeToggle {
		display: block;
	}
}
