@import url('https://fonts.googleapis.com/css2?family=Moul&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Moul&family=Open+Sans&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
}

:root {
    font-family: 'Montserrat', sans-serif;

    background-color: var(--color-background);
    color: var(--color-text);

    scroll-behavior: smooth;

    --scroll-bar-width: 8px;
    --scroll-bar-color: #fff;
    --scroll-bar-hover-color: #888;

    --color-text: white;
    --color-background: #080808;
    --color-primary: #f7ffc8;
    --color-secondary: #9bcade;
    --color-accent: #032752;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: var(--scroll-bar-width);
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: var(--color-secondary);
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: calc(var(--scroll-bar-width) / 2);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-bar-hover-color);
}

/* App Styles */

body {
    margin: 0;
    overflow-x: hidden;
}

.landing {
    position: relative;

    width: 100vw;
    height: 100vh;
    padding: 0 32px 32px 32px;

    display: grid;
    grid-template-rows: auto 16px;
}

.landing-graphic {
    position: fixed;
    z-index: -1;
}

.landing-spotlight {
    top: 0;
    left: 0;

    width: 0;
    height: 0;

    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent;
    border-bottom: 200vh solid var(--color-primary);

    background-color: transparent;
    transform: translateX(20%) translateY(-20%) rotate(-40deg);
    filter: blur(6.5vw);
}

.landing-pointlight {
    right: 0;

    width: 100%;
    height: auto;
    max-width: 50vw;
    max-height: 50vh;
    aspect-ratio: 1;
    border-radius: 50%;

    background-color: var(--color-secondary);

    transform: translateX(50%) translateY(-50%);
    filter: blur(12vw);
}

.landing-text {
    align-self: center;
    margin-left: 128px;
    transform: translateY(8px);
}

.landing-text h1 {
    margin: 32px 0 0 0;

    font-family: 'Moul', cursive;
    font-size: 160px;
    line-height: 1em;

    filter: drop-shadow(0 0 24px);
}

.landing-text h2 {
    margin: 0;

    font-size: 80px;
    line-height: 1em;

    font-weight: 400;
}

.landing-action-text {
    text-align: center;

    width: 100%;

    color: black;
    font-weight: bold;
}

.yeehaw {
    width: 100vw;
    height: 100vh;
}
