@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Moul&family=Open+Sans&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

a,
button {
	all: unset;
}

button:not(:disabled):hover,
a:not(:disabled):hover {
	cursor: pointer;
}

:root {
	scroll-behavior: smooth;
}

/* Scrollbar */

::-webkit-scrollbar {
	width: var(--scroll-bar-width);
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-bar-color);
	border-radius: calc(var(--scroll-bar-width) / 2);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scroll-bar-hover-color);
}

/* App Styles */

body {
	--color-text: white;
	--color-background: #080808;

	--scroll-bar-width: 8px;
	--scroll-bar-color: white;
	--scroll-bar-hover-color: #888;

	--main-padding: 32px;

	--color-header-border: #202020;

	margin: 0;
	overflow-x: hidden;

	font-family: "Montserrat", sans-serif;

	background-color: var(--color-background);
	color: var(--color-text);
}

body.light-mode {
	--color-text: #080808;
	--color-background: #f0f0f0;

	--scroll-bar-color: black;

	--color-header-border: #d8d8d8;
}

.yeehaw {
	width: 100vw;
	height: 100vh;
}
